dotenv==0.9.9
fonttools==4.60.0
ipykernel==6.30.1
ipython==8.18.1
isodate==0.7.2
jupyter_client==8.6.3
jupyter_core==5.8.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
neo4j==5.28.2
numpy==2.0.2
packaging==25.0
pandas==2.3.2
pyarrow==21.0.0
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
stack-data==0.6.3
stumpy==1.13.0
pyarrow==21.0.0